# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc


# MacOS system files
.DS_Store

# Database files (SQLite or temp)
*.db

# Environment variables
.env

# Alembic cache (optional)
alembic/versions/*.pyc

# Pytest cache
.pytest_cache/

.coverage
htmlcov/
dist/
build/
.terraform/
*.tfstate
*.tfstate.*